body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Shadows Into Light", cursive;


}

.main {
    display: flex;
    align-items: stretch;
    height: 100vh;
}

.left {
    flex-grow: 8;
    border: 1px solid black;
    position: relative;
    height: 100vh;
    overflow: hidden;
}


ul {
    list-style-position: inside;
}

.recipe-text {
    padding-left: 1em;
    font-size: large;
}

.right {
    flex-grow: 1;
    border: 1px solid black;
    background-image: url('../images/paper_texture.avif');
    background-size: 100% 100%;
}

.bowl-img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40%;
    transform: translate(-50%, -10%);
}
