<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename ='css/styles.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>Bake a cake</title>
</head>

<body>
    <div id="start-screen" class="start-layout">
    <div class="start-left">
        <div class="next-button start-button" id="start-button">Start</div>

    </div>

    <div class="right start-right">
        <div id="leaderboard-panel" class="leaderboard-panel recipe-text">
            <h2>Greatest Bakers of all time</h2>
            <ol id="leaderboard-list"></ol>
        </div>
    </div>
</div>

    <div class="main img-hide" id="game-screen">
        <div class="left">
            <div id="stage-1">
                <div id="all-ingredients">
                    <img src="{{url_for('static', filename='images/ingredients/butter.png')}}" class="ingredients-img"
                        style="--x: 5%; --y: 25%;" alt="butter" id="butter">
                    <img src="{{url_for('static', filename='images/ingredients/egg.png')}}" class="ingredients-img"
                        style="--x: 20%; --y: 8%;" alt="eggs" id="eggs">
                    <img src="{{url_for('static', filename='images/ingredients/flour.png')}}" class="ingredients-img"
                        style="--x: 45%; --y: 14%;" alt="flour" id="flour">
                    <img src="{{url_for('static', filename='images/ingredients/milk.png')}}" class="ingredients-img"
                        style="--x: 70%; --y: 5%;" alt="milk" id="milk">
                    <img src="{{url_for('static', filename='images/ingredients/sugar.png')}}" class="ingredients-img"
                        style="--x: 5%; --y: 50%;" alt="sugar" id="sugar">
                    <img src="{{url_for('static', filename='images/ingredients/cocoa.png')}}" class="ingredients-img"
                        style="--x: 15%; --y: 65%;" alt="cocoa powder" id="cocoa">
                    <img src="{{url_for('static', filename='images/ingredients/baking_soda.png')}}"
                        class="ingredients-img" style="--x: 74%; --y: 50%;" alt="baking powder" id="baking_soda">
                    <img src="{{url_for('static', filename='images/ingredients/vanilla.png')}}" class="ingredients-img"
                        style="--x: 75%; --y: 74%;" alt="vanilla extract" id="vanilla">
                    <img src="{{url_for('static', filename='images/whisk.jpg')}}" class="ingredients-img"
                        style="--x: 50%; --y: 74%;" alt="whisk" id="whisk">
                    <img src="{{url_for('static', filename='images/tin.png')}}" class="ingredients-img"
                        style="--x: 20%; --y: 74%;" alt="tin" id="tin">
                </div>


                <img src="{{url_for('static', filename='images/mixing_bowl.png')}}" class="bowl-img" id="bowl-img"
                    alt="mixing bowl">
                <img src="{{url_for('static', filename='images/batter/batter-unmixed.png')}}"
                    class="batter-img img-hide" id="batter-img-unmixed" alt="unmixed batter">
                <img src="{{url_for('static', filename='images/batter/batter-mixed.png')}}"
                    class="batter-img-mixed img-hide" id="batter-img-mixed" alt="mixed batter">
            </div>
            <div class="stopwatch">
                <div class="time" id="time">00:00:00</div>
            </div>
            <div class="next-button img-hide" id="next-button-bake">
                Next
            </div>

            <div id="stage-2" class="img-hide">
                <img src="{{url_for('static', filename='images/oven.png')}}" class="oven-img" id="oven-img" alt="oven">
                <img src="{{url_for('static', filename='images/cake.png')}}" class="cake-img img-hide" id="cake-img"
                    alt="baked cake">
                <div class="next-button img-hide" id="done-button">
                    Done
                </div>
            </div>
        </div>
        <div class="right">
            <div class="recipe-text">
                <h2>Preparing the batter</h2>
                In a bowl, combine
                <ul>
                    <li>2 eggs</li>
                    <li>100ml milk</li>
                    <li>1 tsp vanilla extract</li>
                    <li> 120g sugar</li>
                    <li> 120g self-raising flour</li>
                    <li> 30g cocoa powder</li>
                    <li>1 tsp baking powder</li>
                    <li> Melted butter </li>
                </ul>

                <h2>Bake</h2>
                <ul>
                    <li>Pour batter into prepared tin</li>
                    <li>Bake for 25-35 min at 180°C</li>
                </ul>

                <h2>Cool</h2>
                <ul>
                    <li>Cool in tin for 5 minutes</li>
                </ul>

            </div>
        </div>
    </div>

</body>
<script type="module" src="{{url_for('static', filename='js/main.js')}}"></script>

</html>
